$background: #282828;
$foreground: #a89984;

window {
  background: transparent;
  color: $foreground;
  font-size: 16px;
  font-weight: bold;
}

.segment {
  background: $background;
  border: 1px solid #665c54;
  border-radius: 20px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Workspaces
.workspace-button {
  all: unset;
  background: none;
  &.active {
    color: $foreground;
  }
  &.inactive {
    color: #665c54;
  }
  &.focused {
    font-size: 20px;
  }
  &.unfocused {
    font-size: 15px;
  }
}


// Time and date
.time {
  font-size: 24px;
  color: $foreground;
}
.sec {
  font-size: 14px;
}

.date {
  color: $foreground;
  font-size: 14px;
}
.day {
  font-size: 20px;
}

// Music
.music-art {
	background-size: cover;
	border-radius: 100px;
  border: 1px solid #665c54;
}
.music_title {
  font-size: 10px;
}
.progress-horizontal {
  padding: 0px;
  slider {
    all: unset;
  }
  trough {
    background-color: #1d2021;
    min-height: 10px;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s;
    &:hover {
      background-color: #232628;
    }
  }
  highlight {
    background-color: #665c54;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s;
    &:hover {
      background-color: #8c7e74;
    }
  }
}
.progress-horizontal.green {
  highlight {
    background-color: #3e523e;
    &:hover {
      background-color: #507450;
    }
  }
}

// Power menu
.power-button {
  all: unset;
  background: transparent;
  border: none;
}